.ico-service{
    height: 70px;
    margin-bottom: 30px;
}

svg.testi{
    fill: rgb(255, 0, 200);
    height: 40px;
    margin-bottom: 30px;
}

.nav-link.active img{
	stroke: #d91a72;
}
.footer-area .mini-footer .social-medias a{
    width: 35px !important;
}

svg.ico-menu{
    fill: #fff;
}
svg.ico-menu:hover{
    fill: #d9c730;
}
svg.ico {
    fill: #fff;
    width: 22px; 
    margin-right: 10px;   
}
.nav-link.active>svg.ico {
    fill: #d9c730;
    stroke: #d9c730;
    stroke-width: 3px;
}

svg.ico-info {
    fill: #04bbd9;
    width: 60px;
    height: 60px;
}
svg{
    vertical-align: initial;
}
.btn {
    transition: 1s;
}
.developer-by{
    color: #04bbd9;
    font-weight: 500;
}

.btn:hover {
    margin-top:  -10px;
}

.redes img{
    height: 50px;
    margin-top: 20px;

}
.social-medias img {
    height: 50px;
    margin-right: 10px;
}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 30%, 0);
      -ms-transform: translate3d(0, 30%, 0);
      transform: translate3d(0, 30%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }
  
  .fadeInUp {
    animation-name: fadeInUp;
    animation-timing-function: ease-out;
  }
  .comilla-testi{
      height: 40px;
      margin-bottom: 20px;
  }
  .owl-carousel .owl-item img {
    width: auto;
}