  :focus {
    outline: 0
  }
  
  ::-moz-focus-inner {
    border: 0
  }
  
  body {
    background-color: #fff;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.95;
    position: relative
  }
  
  i.icon {
    line-height: 100%
  }
  
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #222
  }
  
  b {
    font-weight: 700
  }
  
  a {
    transition: all .15s ease-in-out
  }
  
  a:focus,
  a:hover {
    text-decoration: none
  }
  
  hr {
    border-top: 3px solid #e6e6e6;
    margin: 0
  }
  
  .anchor-basic {
    color: #222
  }
  
  .anchor-basic:focus,
  .anchor-basic:hover {
    color: #000
  }
  
  .button-main {
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 30px;
    color: #222;
    font-size: 14px;
    padding: 10px 38px
  }
  
  .button-main:focus {
    background-color: #bfbfbf;
    border: 1px solid #c5c5c5;
    box-shadow: none;
  }
  
  .button-main.button-scheme {
    color: #fff
  }
  
  .single-section {
    background-color: #fff;
    padding: 85px 40px
  }
  
  .single-section.alt-bg {
    background-color: #f7f7f7
  }
  .single-section.alt-bg2 {
    background-color:  #0a7a8c;
  }
  .single-section.alt-bg2 .section-heading {
    color:  #fff;
  }
  .single-section.alt-bg2 h2 {
    color:  #fff;
  }
  .single-section.alt-bg3 {
    background-color:  #8c0343;
  }
  .single-section.alt-bg3 .section-heading {
    color:  #fff;
  }
  .single-section.alt-bg3 h2 {
    color:  #fff;
  }

  .single-section .section-heading {
    margin-bottom: 48px;
    text-align: left
  }
  
  .single-section .section-heading>.section-title {
    display: inline-block;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -.25px;
    line-height: 100%;
    margin-bottom: 12px;
    position: relative;
    z-index: 9
  }
  
  .single-section .section-heading>.section-description {
    font-size: 15px
  }
  
  .single-section .section-heading.heading-center {
    text-align: center
  }
  
  .single-section.element-cover-bg .section-heading>.section-description,
  .single-section.element-cover-bg .section-heading>.section-title {
    color: #fff
  }
  
  @media (max-width:767.98px) {
    .single-section .section-heading>.section-description {
      font-size: 14px
    }
  }
  
  @media (max-width:575.98px) {
    .single-section {
      padding: 65px 15px
    }
    .single-section .section-heading>.section-title {
      font-size: 34px
    }
  }
  
  .element-cover-bg {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
  }
  
  .element-cover-bg:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0
    }
    to {
      opacity: 1
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0
    }
    to {
      opacity: 1
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
  }
  
  @-webkit-keyframes fadeOut {
    from {
      opacity: 1
    }
    to {
      opacity: 0
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1
    }
    to {
      opacity: 0
    }
  }
  
  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
  }
  
  .f-basis-100 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
  }
  
  .owl-theme .owl-dots .owl-dot {
    outline: 0
  }
  
  .main-wrapper .sidebar {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 235px;
    z-index: 999
  }
  
  .main-wrapper .sections-wrapper {
    padding-left: 235px;
    position: relative
  }
  
  @media (max-width:991.98px) {
    .main-wrapper .sidebar {
      left: -235px
    }
    .main-wrapper .sections-wrapper {
      padding-left: 0
    }
  }
  
  .preloader {
    background-color: #0e0e0e;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999
  }
  
  .preloader .preloader-block {
    -webkit-transform: translate(50%, 50%);
    bottom: 50%;
    position: fixed;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 3000
  }
  
  .preloader .preloader-block .preloader-icon .loading-dot {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 13px;
    width: 13px
  }
  
  .preloader .preloader-block .preloader-icon .loading-dot.loading-dot-1 {
    -webkit-animation: 1.2s grow ease-in-out infinite;
    animation: 1.2s grow ease-in-out infinite
  }
  
  .preloader .preloader-block .preloader-icon .loading-dot.loading-dot-2 {
    -webkit-animation: 1.2s grow ease-in-out infinite .15555s;
    animation: 1.2s grow ease-in-out infinite .15555s;
    margin: 0 14px
  }
  
  .preloader .preloader-block .preloader-icon .loading-dot.loading-dot-3 {
    -webkit-animation: 1.2s grow ease-in-out infinite .3s;
    animation: 1.2s grow ease-in-out infinite .3s
  }
  
  @-webkit-keyframes grow {
    0%,
    100%,
    40% {
      -webkit-transform: scale(0);
      transform: scale(0)
    }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1)
    }
  }
  
  @keyframes grow {
    0%,
    100%,
    40% {
      -webkit-transform: scale(0);
      transform: scale(0)
    }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1)
    }
  }
  
  .sidebar {
    background-color: #111
  }
  
  .sidebar .sidebar-header {
    padding-bottom: 60px;
    padding-top: 24px;
    text-align: center
  }
  
  .sidebar .sidebar-header .sidebar-avatar {
    border: 5px solid #484848;
    border-radius: 50%;
    margin-bottom: 16px;
    width: 110px
  }
  
  .sidebar .sidebar-header .sidebar-name {
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px
  }
  .sidebar .sidebar-header .sidebar-name .lastname {
    color: #1AD91E;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px
  }
  
  .sidebar .sidebar-header .sidebar-status {
    color: #8a8a8a;
    display: block;
    line-height: 100%;
    margin-bottom: 0;
    margin-top: 9px
  }
  
  .sidebar .sidebar-menu {
    padding-bottom: 24px
  }
  
  .sidebar .sidebar-menu .list-menu {
    margin-bottom: 0;
    text-align: center
  }
  
  .sidebar .sidebar-menu .list-menu li {
    line-height: 100%
  }
  
  .sidebar .sidebar-menu .list-menu li:not(:last-child) {
    margin-bottom: 28px
  }
  
  .sidebar .sidebar-menu .list-menu .nav-link {
    color: rgba(232, 232, 232, .95);
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 100%;
    padding: 0
  }
  
  .sidebar .simplebar-content-wrapper {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
  
  .sidebar .simplebar-track .simplebar-scrollbar:before {
    background: #fff
  }
  
  .sidebar .simplebar-track .simplebar-scrollbar.simplebar-visible:before {
    opacity: .5
  }
  
  .sidebar .simplebar-track.simplebar-vertical {
    width: 10px
  }
  
  .sidebar .simplebar-track.simplebar-vertical .simplebar-scrollbar {
    height: auto;
    width: 6px
  }
  
  .sidebar .simplebar-track.simplebar-horizontal {
    height: 10px
  }
  
  .sidebar .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    height: 6px;
    width: auto
  }
  
  .mobile-navbar {
    padding: 14px 26px
  }
  
  .mobile-navbar:before {
    background-color: #222;
    content: '';
    height: 58px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%
  }
  
  .mobile-navbar .navbar-toggler {
    background-color: #333;
    border-color: #222;
    border-radius: 3px;
    display: block;
    font-size: 14px;
    outline: 0;
    padding: 4px 10px;
    position: relative
  }
  
  .mobile-navbar .navbar-toggler .nav-btn {
    color: rgba(255, 255, 255, .8);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 20px
  }
  
  .mobile-navbar .navbar-collapse .navbar-nav {
    background-color: #222;
    padding: 8px 20px;
    position: relative;
    top: 8px;
    width: 200px;
    z-index: 2
  }
  
  .mobile-navbar .navbar-collapse .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .6);
    font-size: 14px;
    font-weight: 400;
    padding: 7px 0
  }
  
  .mobile-navbar .navbar-collapse .navbar-nav .nav-link:focus,
  .mobile-navbar .navbar-collapse .navbar-nav .nav-link:hover {
    color: #fff
  }
  
  .home-area {
    background-position: center center;
    height: 100vh
  }
  
 
  
  .home-area .home-name {
    color: #FFF;
    font-size: 68px;
    font-weight: 700;
    letter-spacing: .3px;
    margin-bottom: 29px
  }
  
  .home-area .home-headline {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: .3px;
    margin-bottom: 0
  }
  
  .home-area .home-headline .single-headline {
    display: inline-block;
    position: relative;
    text-align: left;
    vertical-align: top
  }
  
  .home-area .home-headline .single-headline::after {
    background-color: #b9b9b9;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px
  }
  
  .home-area .home-headline .single-headline b {
    display: inline-block;
    font-weight: 600;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    white-space: nowrap
  }
  
  .home-area .home-headline .single-headline b.is-visible {
    opacity: 1;
    position: relative
  }
  
  .home-area .home-mouse {
    bottom: 5.5%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 29px
  }
  
  .home-area .home-mouse .mouse-shape {
    background-color: rgba(0, 0, 0, .1);
    border: 2px solid transparent;
    border-color: #D9C730;
    border-radius: 25px;
    box-sizing: content-box;
    height: 28px;
    opacity: .8;
    padding: 5px 11px;
    width: 3px
  }
  
  .home-area .home-mouse .mouse-shape .mouse-wheel {
    -webkit-animation-duration: 1.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: scrollDown;
    -webkit-animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-name: scrollDown;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    background-color: #D9C730;
    border-radius: 25%;
    height: 9px;
    width: 3px
  }
  
  @-webkit-keyframes scrollDown {
    0% {
      opacity: 0
    }
    10% {
      -webkit-transform: translateY(0);
      opacity: 1;
      transform: translateY(0)
    }
    100% {
      -webkit-transform: translateY(15px);
      opacity: 0;
      transform: translateY(15px)
    }
  }
  
  @keyframes scrollDown {
    0% {
      opacity: 0
    }
    10% {
      -webkit-transform: translateY(0);
      opacity: 1;
      transform: translateY(0)
    }
    100% {
      -webkit-transform: translateY(15px);
      opacity: 0;
      transform: translateY(15px)
    }
  }
  
  .home-area.video-variant #wrapper_homeVideo:before {
    background-color: rgba(0, 0, 0, .6);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
  }
  
  .home-area #particles-js {
    height: 100%;
    position: absolute;
    width: 100%
  }
  
  @media (max-width:991.98px) {
    .home-area {
      height: auto;
      margin-top: 58px;
      padding: 160px 0
    }
    .home-area .home-name {
      font-size: 62px
    }
    .home-area .home-headline {
      font-size: 30px
    }
    .home-area .home-mouse {
      display: none
    }
  }
  
  @media (max-width:575.98px) {
    .home-area .home-name {
      font-size: 48px
    }
    .home-area .home-headline {
      font-size: 26px
    }
  }
  
  .about-area .about-img img {
    background-color: transparent;
    border-color: rgba(0, 0, 0, .18);
    width: 430px
  }
  
  .about-area .about-content .content-subtitle {
    font-size: 22px;
    margin-bottom: 8px
  }
  
  .about-area .about-content .content-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px
  }
  
  .about-area .about-content .content-description {
    font-size: 15px
  }
  
  .about-area .about-content .content-description p:last-child {
    border-bottom: 2px solid rgba(0, 0, 0, .08);
    margin-bottom: 0;
    padding-bottom: 27px
  }
  
  .about-area .about-content .content-info {
    font-size: 15px;
    margin-bottom: 4px;
    padding: 27px 0
  }
  
  .about-area .about-content .content-info>.row:last-child .single-info {
    margin-bottom: 0
  }
  
  .about-area .about-content .content-info .single-info {
    margin-bottom: 10px
  }
  
  .about-area .about-content .content-info .single-info>span {
    color: #333;
    font-weight: 600;
    margin-right: 10px
  }
  
  .about-area .about-content .content-info .single-info>p {
    display: inline-block;
    margin-bottom: 0
  }
  
  .about-area .about-content .content-download,
  .about-area .about-content .content-work {
    margin-right: 16px
  }
  
  @media (min-width:992px) and (max-width:1199.98px) {
    .about-area .about-img img {
      -o-object-fit: cover;
      height: 440px;
      object-fit: cover
    }
    .about-area .about-content .content-subtitle {
      display: none
    }
    .about-area .about-content .content-title {
      font-size: 22px
    }
    .about-area .about-content .content-description {
      font-size: 14px
    }
    .about-area .about-content .content-description p:last-child {
      padding-bottom: 20px
    }
    .about-area .about-content .content-info {
      font-size: 14px;
      padding: 20px 0
    }
  }
  
  @media (max-width:991.98px) {
    .about-area .about-img img {
      -o-object-fit: cover;
      border-radius: 50%;
      display: block;
      height: 250px;
      margin: 0 auto 40px auto;
      object-fit: cover;
      width: 250px
    }
    .about-area .about-content .content-subtitle {
      font-size: 18px
    }
    .about-area .about-content .content-title {
      font-size: 24px
    }
    .about-area .about-content .content-description {
      font-size: 14px
    }
    .about-area .about-content .content-description p:last-child {
      padding-bottom: 24px
    }
    .about-area .about-content .content-info {
      font-size: 14px;
      margin-bottom: 0;
      padding: 24px 0
    }
  }
  
  @media (max-width:767.98px) {
    .about-area .about-img img {
      height: 200px;
      width: 200px
    }
    .about-area .about-content .content-info>.row:last-child .single-info {
      margin-bottom: 10px
    }
    .about-area .about-content .content-info .single-info {
      display: block;
      margin-bottom: 10px;
      width: auto
    }
  }
  
  @media (max-width:575.98px) {
    .about-area {
      padding-bottom: 51px
    }
    .about-area .about-img img {
      margin: 0 auto 32px auto
    }
    .about-area .about-content .content-subtitle {
      font-size: 17px
    }
    .about-area .about-content .content-title {
      font-size: 22px
    }
    .about-area .about-content .content-download,
    .about-area .about-content .content-work {
      margin-bottom: 14px
    }
  }
  
  .services-area .single-service {
    background-color: #fff;
    border: 1px solid rgba(214, 214, 214, .8);
    padding: 38px 24px;
    text-align: center;
    transition: all .15s ease-in-out
  }
  
  .services-area .single-service .service-icon {
    display: inline-block;
    font-size: 50px;
    margin-bottom: 22px
  }
  
  .services-area .single-service .service-title {
    color: #333;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -.5px;
    margin-bottom: 12px
  }
  
  .services-area .single-service .service-description {
    margin-bottom: 0
  }
  
  .hire-area {
    background-attachment: fixed;
    padding-bottom: 68px;
    padding-top: 68px
  }
  
  .hire-area:before {
    background-color: rgba(0, 0, 0, .83)
  }
  
  .hire-area .row-custom {
    -ms-flex-align: center;
    align-items: center
  }
  
  .hire-area .button-part {
    -ms-flex-pack: end;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end
  }
  
  .hire-area .hire-title {
    color: #f0f0f0;
    font-weight: 700;
    margin-bottom: 14px
  }
  
  .hire-area .hire-description {
    color: #9f9f9f;
    font-size: 15px;
    margin-bottom: 0
  }
  
  .hire-area .hire-btn {
    padding: 12px 54px
  }
  
  @media (max-width:767.98px) {
    .hire-area .content-part {
      text-align: center
    }
    .hire-area .button-part {
      -ms-flex-pack: center;
      justify-content: center
    }
    .hire-area .hire-title {
      font-size: 34px
    }
    .hire-area .hire-description {
      font-size: 14px;
      margin-bottom: 26px
    }
    .hire-area .hire-btn {
      padding: 10px 38px
    }
  }
  
  @media (max-width:575.98px) {
    .hire-area .hire-title {
      margin-bottom: 18px
    }
  }
  
  .portfolio-area .filter-control {
    margin-bottom: 14px
  }
  
  .portfolio-area .filter-control>li {
    border-bottom: 1px solid transparent;
    color: #444;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .3px;
    position: relative;
    transition: all .1s ease-in-out
  }
  
  .portfolio-area .filter-control>li:not(:last-child) {
    margin-right: 16px
  }
  
  .portfolio-area .filter-control>li.tab-active:before,
  .portfolio-area .filter-control>li:hover:before {
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%
  }
  
  .portfolio-area .portfolio-grid .portfolio-wrapper {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative
  }
  
  .portfolio-area .portfolio-grid .portfolio-wrapper:before {
    background-color: rgba(0, 0, 0, .9);
    bottom: 0;
    content: '';
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: all .15s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 1
  }
  
  .portfolio-area .portfolio-grid .portfolio-wrapper>.img-fluid {
    width: 100%
  }
  
  .portfolio-area .portfolio-grid .portfolio-wrapper .item-content {
    left: 0;
    opacity: 0;
    padding: 3px 18px;
    position: absolute;
    text-align: center;
    transition: all .15s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 2
  }
  
  .portfolio-area .portfolio-grid .portfolio-wrapper .item-content .content-title {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 10px
  }
  
  .portfolio-area .portfolio-grid .portfolio-wrapper .item-content .content-more {
    display: inline-block;
    font-weight: 600
  }
  
  .portfolio-area .portfolio-grid .portfolio-wrapper:hover:before {
    opacity: 1;
    visibility: visible
  }
  
  .portfolio-area .portfolio-grid .portfolio-wrapper:hover .item-content {
    opacity: 1;
    visibility: visible
  }
  
  .portfolio-area .lightbox-wrapper {
    -ms-flex-wrap: wrap;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    position: fixed
  }
  
  .portfolio-area .lightbox-wrapper>.container>.row {
    margin-bottom: 60px;
    margin-top: 60px
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-close {
    position: fixed;
    right: 4vw;
    top: 25px;
    z-index: 99
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-close .close-btn {
    -ms-flex-direction: column;
    -ms-flex-pack: justify;
    -ms-flex-pack: center;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 19px;
    justify-content: space-between;
    justify-content: center;
    position: relative;
    width: 30px
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-close .close-btn .btn-line,
  .portfolio-area .lightbox-wrapper .lightbox-close .close-btn:after,
  .portfolio-area .lightbox-wrapper .lightbox-close .close-btn:before {
    -ms-flex-item-align: end;
    align-self: flex-end;
    background-color: gray;
    height: 3px;
    width: 100%
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-close .close-btn:before {
    content: '';
    width: 85%
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-close .close-btn:after {
    content: ''
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-close .close-btn .btn-line {
    width: 55%
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-close .close-btn .btn-line,
  .portfolio-area .lightbox-wrapper .lightbox-close .close-btn:after,
  .portfolio-area .lightbox-wrapper .lightbox-close .close-btn:before {
    background-color: #fff;
    position: absolute;
    width: 100%
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-close .close-btn .btn-line {
    display: none
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-close .close-btn:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-close .close-btn:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-close .close-btn .btn-line,
  .portfolio-area .lightbox-wrapper .lightbox-close .close-btn:after,
  .portfolio-area .lightbox-wrapper .lightbox-close .close-btn:before {
    background-color: rgba(0, 0, 0, .6);
    height: 2px;
    width: 80%
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-gallery .owl-dots {
    bottom: -38px;
    left: 0;
    margin-top: 0;
    position: absolute;
    right: 0
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-content {
    margin-left: 12px
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-content .content-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 25px
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-content .content-description p {
    margin-bottom: 20px
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-content .content-description p:last-child {
    margin-bottom: 30px
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-content .content-info {
    margin-bottom: 40px
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-content .content-info .single-info {
    margin-bottom: 15px;
    width: 49.6%
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-content .content-info .single-info:not(:last-child) {
    margin-right: 0
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-content .content-info .single-info:nth-last-child(-n+2) {
    margin-bottom: 0
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-content .content-info .single-info>span {
    color: #444;
    font-weight: 600;
    margin-right: 10px
  }
  
  .portfolio-area .lightbox-wrapper .lightbox-content .content-info .single-info>p {
    display: inline-block;
    margin-bottom: 0
  }
  
  @media (max-width:991.98px) {
    .portfolio-area .lightbox-wrapper .lightbox-gallery {
      margin-bottom: 55px
    }
    .portfolio-area .lightbox-wrapper .lightbox-content {
      margin-left: 0
    }
  }
  
  @media (max-width:575.98px) {
    .portfolio-area .portfolio-grid .portfolio-wrapper .item-content .content-title {
      font-size: 14px
    }
    .portfolio-area .lightbox-wrapper .lightbox-content .content-title {
      font-size: 36px
    }
    .portfolio-area .lightbox-wrapper .lightbox-content .content-info .single-info {
      display: block;
      margin-bottom: 10px;
      width: auto
    }
    .portfolio-area .lightbox-wrapper .lightbox-content .content-info .single-info:nth-last-child(-n+2) {
      margin-bottom: 10px
    }
  }
  
  .testimonials-area .single-review {
    background-color: #fff;
    border: 1px solid rgba(214, 214, 214, .8);
    padding: 40px 30px;
    text-align: left;
  }
  
  .testimonials-area .single-review .review-icon {
    display: inline-block;
    font-size: 50px;
    margin-bottom: 18px
  }
  
  .testimonials-area .single-review .review-content {
    margin-bottom: 24px
  }
  
  .testimonials-area .single-review .client-avatar {
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
    width: 56px
  }
  
  .testimonials-area .single-review .client-name {
    color: #d91a72;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
  }
  
  .testimonials-area .owl-carousel .owl-dots {
    margin-top: 24px!important
  }
  
  @media (max-width:767.98px) {
    .testimonials-area .single-review .review-icon {
      font-size: 58px;
      margin-bottom: 22px
    }
    .testimonials-area .single-review .review-content {
      margin-bottom: 28px
    }
  }
  
  .blog-area .single-post {
    background-color: transparent;
    border: none
  }
  
  .blog-area .single-post .post-img {
    height: 100%;
    position: relative
  }
  
  .blog-area .single-post .post-img .content-date {
    bottom: 0;
    color: #fff;
    display: inline-block;
    left: 0;
    padding: 0 14px;
    position: absolute
  }
  
  .blog-area .single-post .post-content {
    padding: 15px 0 0 0
  }
  
  .blog-area .single-post .post-content .content-title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .1px;
    margin-bottom: 8px
  }
  
  .blog-area .single-post .post-content .content-description {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 8px
  }
  
  .blog-area .single-post .post-content .content-tags .tags-title {
    color: #333;
    margin-right: 2px
  }
  
  .blog-area .single-post .post-content .content-tags .tags-list {
    display: inline-block;
    margin-bottom: 0
  }
  
  .blog-area .single-post .post-content .content-tags .tags-list .list-inline-item:not(:last-child) {
    margin-right: 0
  }
  
  .blog-area .single-post .post-content .content-tags .tags-list .list-inline-item:not(:last-child):after {
    color: #333;
    content: '/';
    display: inline-block;
    margin-left: 6px;
    margin-right: 4px
  }
  
  @media (max-width:991.98px) {
    .blog-area .row>[class*=col-]:not(:last-child) .single-post {
      margin-bottom: 40px
    }
    .blog-area .single-post .post-content .content-title {
      font-size: 20px
    }
  }
  
  .contact-area .contact-form .form-group {
    margin-bottom: 25px
  }
  
  .contact-area .contact-form .form-group .form-control {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 0;
    font-size: 14px;
    height: 41px;
    padding: 9px 14px
  }
  
  .contact-area .contact-form .form-group .form-control:-webkit-autofill,
  .contact-area .contact-form .form-group .form-control:-webkit-autofill:active,
  .contact-area .contact-form .form-group .form-control:-webkit-autofill:focus,
  .contact-area .contact-form .form-group .form-control:-webkit-autofill:hover {
    box-shadow: 0 0 0 1000px #fff inset;
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    -webkit-text-fill-color: #555!important;
    transition: background-color 5000s ease-in-out 0s
  }
  
  .contact-area .contact-form .form-group .form-control,
  .contact-area .contact-form .form-group .form-control::-webkit-input-placeholder {
    color: #555
  }
  
  .contact-area .contact-form .form-group .form-control,
  .contact-area .contact-form .form-group .form-control::-moz-placeholder {
    color: #555
  }
  
  .contact-area .contact-form .form-group .form-control,
  .contact-area .contact-form .form-group .form-control:-ms-input-placeholder {
    color: #555
  }
  
  .contact-area .contact-form .form-group .form-control,
  .contact-area .contact-form .form-group .form-control::-ms-input-placeholder {
    color: #555
  }
  
  .contact-area .contact-form .form-group .form-control,
  .contact-area .contact-form .form-group .form-control::placeholder {
    color: #555
  }
  
  .contact-area .contact-form .form-group .form-control:focus {
    box-shadow: none
  }
  
  .contact-area .contact-form .form-group.form-message #contact-message {
    height: auto
  }
  
  .contact-area .contact-form .form-submit #contact-submit {
    padding: 10px 30px
  }
  
  .contact-area .contact-form .form-submit #contact-submit.wait {
    background-color: #222!important;
    border-color: #222!important
  }
  
  .contact-area .contact-form .form-submit #contact-submit.success {
    background-color: #28a745!important;
    border-color: #28a745!important
  }
  
  .contact-area .contact-form .form-submit #contact-submit.error {
    background-color: #dc3545!important;
    border-color: #dc3545!important
  }
  
  .contact-area .contact-form .form-submit .contact-feedback {
    display: none;
    margin: 0;
    margin-top: 8px
  }
  
  .contact-area .contact-form .form-submit .contact-feedback.success {
    color: #28a745
  }
  
  .contact-area .contact-form .form-submit .contact-feedback.error {
    color: #dc3545
  }
  
  @media (max-width:1199.98px) {
    .contact-area .contact-form .form-group {
      margin-bottom: 30px
    }
  }
  
  .footer-area {
    background-color: #111;
    border-left: 1px solid rgba(255, 255, 255, .08);
    color: #fff;
    padding-bottom: 0;
    padding-top: 0
  }
  
  .footer-area .contact-info {
    border-bottom: 2px solid rgba(85, 85, 85, .2);
    padding: 80px 0
  }
  
  .footer-area .contact-info .single-info {
    text-align: center;
    padding-bottom: 20px;
  }
  
  .footer-area .contact-info .info-icon {
    display: inline-block;
    font-size: 46px;
  }
  
  .footer-area .contact-info .info-content {
    color: #dcdcdc;
    font-size: 15px;
    margin-bottom: 80px;
    text-align: center;
  }
  
  .footer-area .contact-info .info-content a {
    color: #dcdcdc
  }
  
  .footer-area .contact-info .info-content a:focus,
  .footer-area .contact-info .info-content a:hover {
    color: #e9e9e9
  }
  
  .footer-area .mini-footer {
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 44px 0
  }
  
  .footer-area .mini-footer .social-medias {
    margin-bottom: 0
  }
  


  
  .footer-area .mini-footer .copyright-notice {
    color: #c7c7c7;
    margin-bottom: 0;
    text-align: right
  }
  
  @media (max-width:991.98px) {
    .footer-area .mini-footer {
      display: block;
      padding: 25px 0;
      text-align: center
    }
    .footer-area .mini-footer .social-medias {
      margin-bottom: 14px
    }
    .footer-area .mini-footer .copyright-notice {
      margin-bottom: 0;
      text-align: center
    }
  }
  
  @media (max-width:575.98px) {
    .footer-area .contact-info [class*=col-]:not(:last-child) .single-info {
      margin-bottom: 30px
    }
    .footer-area .mini-footer .copyright-notice {
      font-size: 13px
    }
  }