*/:root {
	--custom: #d91a72
}

.table-custom,
.table-custom>td,
.table-custom>th {
	background-color: #f9c9df
}

.table-hover .table-custom:hover {
	background-color: #f6b2d1
}

.table-hover .table-custom:hover>td,
.table-hover .table-custom:hover>th {
	background-color: #f6b2d1
}

.btn-custom {
	background-color: #d91a72;
	border-color: #d91a72;
	color: #fff
}

.btn-custom:hover {
	background-color: #e41c78;
	border-color: #d91a72;
	color: #fff
}

.btn-custom.focus,
.btn-custom:focus {
	box-shadow: 0 0 0 .2rem rgba(235, 91, 157, .5)
}

.btn-custom.disabled,
.btn-custom:disabled {
	background-color: #d91a72;
	border-color: #d91a72;
	color: #fff
}

.btn-custom:not(:disabled):not(.disabled).active,
.btn-custom:not(:disabled):not(.disabled):active,
.show>.btn-custom.dropdown-toggle {
	background-color: #d91a72;
	border-color: #ce196c;
	color: #fff
}

.btn-custom:not(:disabled):not(.disabled).active:focus,
.btn-custom:not(:disabled):not(.disabled):active:focus,
.show>.btn-custom.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(235, 91, 157, .5)
}

.btn-outline-custom {
	border-color: #d91a72;
	color: #d91a72
}

.btn-outline-custom:hover {
	background-color: #d91a72;
	border-color: #d91a72;
	color: #fff
}

.btn-outline-custom.focus,
.btn-outline-custom:focus {
	box-shadow: 0 0 0 .2rem rgba(232, 62, 140, .5)
}

.btn-outline-custom.disabled,
.btn-outline-custom:disabled {
	background-color: transparent;
	color: #d91a72
}

.btn-outline-custom:not(:disabled):not(.disabled).active,
.btn-outline-custom:not(:disabled):not(.disabled):active,
.show>.btn-outline-custom.dropdown-toggle {
	background-color: #d91a72;
	border-color: #d91a72;
	color: #fff
}

.btn-outline-custom:not(:disabled):not(.disabled).active:focus,
.btn-outline-custom:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-custom.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(232, 62, 140, .5)
}

.badge-custom {
	background-color: #d91a72;
	color: #fff
}

a.badge-custom:focus,
a.badge-custom:hover {
	background-color: #d91a72;
	color: #fff
	
}

a.badge-custom.focus,
a.badge-custom:focus {
	box-shadow: 0 0 0 .2rem rgba(232, 62, 140, .5);
	outline: 0
}

.alert-custom {
	background-color: #fad8e8;
	border-color: #f9c9df;
	color: #792049
}

.alert-custom hr {
	border-top-color: #f6b2d1
}

.alert-custom .alert-link {
	color: #511531
}

.list-group-item-custom {
	background-color: #f9c9df;
	color: #792049
}

.list-group-item-custom.list-group-item-action:focus,
.list-group-item-custom.list-group-item-action:hover {
	background-color: #f6b2d1;
	color: #792049
}

.list-group-item-custom.list-group-item-action.active {
	background-color: #792049;
	border-color: #792049;
	color: #fff
}

.bg-custom {
	background-color: #d91a72!important
}

a.bg-custom:focus,
a.bg-custom:hover,
button.bg-custom:focus,
button.bg-custom:hover {
	background-color: #d91a72!important
}

.border-custom {
	border-color: #d91a72!important
}

.text-custom {
	color: #d91a72!important
}

a.text-custom:focus,
a.text-custom:hover {
	color: #c21766!important
}

::-moz-selection {
	background-color: #d91a72;
	color: #fff
}

::selection {
	background-color: #d91a72;
	color: #fff
}

a:not(.btn) {
	color: #d91a72
}

a:not(.btn):focus,
a:not(.btn):hover {
	color: #d9c730;
	font-weight: 600;
}

.color-scheme {
	color: #d91a72
}

.background-scheme {
	background-color: #d91a72
}

.btn.button-scheme {
	background-color: #d91a72!important;
	border: 1px solid #d91a72!important;
	font-weight: 600;
}

.btn.button-scheme:focus {
	background-color: #c21766!important;
	border-color: #c21766!important;
	box-shadow: none!important
}

.btn.button-outline {
	background-color: transparent!important;
	border: 1px solid #d91a72!important;
	color: #222!important
}

.btn.button-outline:focus {
	background-color: rgba(34, 34, 34, .05)!important;
	border-color: #c21766!important;
	box-shadow: none!important
}

.sidebar .sidebar-menu .list-menu .nav-link.active {
	color: #d9c730;
	font-weight: 600;
}

.home-area .home-name span {
	color: #A1D91E
}

.about-area .about-content .content-subtitle {
	color: #d91a72
}

.services-area .single-service .service-icon {
	color: #d91a72
}

.portfolio-area .filter-control>li.tab-active,
.portfolio-area .filter-control>li:hover {
	color: #eb599c
}

.portfolio-area .filter-control>li.tab-active:before,
.portfolio-area .filter-control>li:hover:before {
	background-color: #eb599c
}

.portfolio-area .portfolio-grid .portfolio-wrapper .item-content .content-more {
	color: #d9c730
}

.testimonials-area .single-review .review-icon {
	color: #d91a72
}

.blog-area .single-post .post-img .content-date {
	background-color: #d91a72
}

.contact-area .contact-form .form-group .form-control:focus {
	border-bottom: 1px solid #ed6ca7
}

.footer-area .contact-info .info-icon {
	color: #d91a72
}