@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400);
.demo-tool {
	display: none
}

.demo-tool .tool-wrapper {
	position: fixed;
	right: -200px;
	top: 25%;
	z-index: 999;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	transition: all .4s ease-in-out
}

.demo-tool.show .tool-wrapper {
	-webkit-transform: translate(-200px, 0);
	transform: translate(-200px, 0)
}

.demo-tool .tool-toggler,
.demo-tool .tool-wrapper {
	box-shadow: 2px 0 8px 0 rgba(0, 0, 0, .15)
}

.demo-tool .tool-toggler {
	position: absolute;
	width: 37px;
	height: 37px;
	display: block;
	cursor: pointer;
	right: 100%;
	top: 6%;
	background-color: #fff;
	color: #111
}

body.theme-dark .demo-tool .tool-toggler {
	background-color: #050505;
	color: #fff
}

body.theme-light .demo-tool .tool-toggler {
	background-color: #fff;
	color: #111
}

.demo-tool .tool-toggler i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px
}

.demo-tool .tool-toggler i:before {
	-webkit-animation: spin 2.7s infinite linear;
	animation: spin 2.7s infinite linear
}

.demo-tool .tool-box {
	width: 200px;
	padding: 20px 16px;
	background-color: #fff;
	color: #111
}

.demo-tool .tool-box .single-block {
	margin-bottom: 12px
}

body.theme-dark .demo-tool .tool-box {
	background-color: #111;
	color: #fff
}

body.theme-light .demo-tool .tool-box {
	background-color: #fff;
	color: #111
}

.demo-tool .tool-box .color-switcher {
	line-height: 100%
}

.demo-tool .tool-box .color-switcher .list-inline-item {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	cursor: pointer;
	margin: 3px 1px
}

.demo-tool .tool-box .btn {
	background-color: #0f8a26;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	padding: 6px 20px;
	letter-spacing: .5px;
	font-size: 14px;
	border-radius: 30px;
	border: 0!important
}

.demo-tool .tool-box .btn:active,
.demo-tool .tool-box .btn:focus,
.demo-tool .tool-box .btn:hover {
	background-color: #0f8a26;
	outline: 0!important;
	box-shadow: none!important
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}